body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif
}

p {
    padding-bottom: 1.5em;
}

body::before {
    background-color: #369;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

@media (min-width: 30em) and (orientation: landscape) {
    body::before {
        display: block;
        content: 'The viewport width is larger than 30em and the orientation is landscape.';
    }
}

@media (min-height: 680px), screen and (orientation: portrait) {
    body::before {
        display: block;
        content: 'The viewport height is larger than 680px or the media type is screen and the orientation is portrait.';
    }
}

@media not (min-width: 600px) {
    body::before {
        display: block;
        content: 'The view port is NOT larger than 600px';
    }
}