div {
    margin-bottom: 20px;
}

.fixed-width {
    width: 300px;
    border: 2px solid black;
}

.percentage-width {
    width: 50%;
    border: 2px solid black;
}

.viewport-width {
    width: 50vw;
    border: 2px solid black;
}

.min-max-width {
    min-width: 100px;
    max-width: 300px;
    border: 2px solid black;
}
