* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EEE;
    font-family: 'Lato', sans-serif;
}

.loginForm {
    background: #FFF;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    max-width: 760px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 5px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.loginForm input {
    border: 0;
    background-color: #EEE;
    padding: 5px;
    border-radius: 5px;
    height: 45px;
}

.loginForm input[type="email"] {
    width: 370px;
}

.loginForm input[type="submit"] {
    border: 0;
    width: 150px;
    background: darkorange;
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 800px) {
    .loginForm {
        max-width: 750px;
    }
}

@media (max-width: 600px) {
    fieldset {
        flex-wrap: wrap;
    }

    .loginForm {
        max-width: 550px;
    }

    .loginForm input[type="email"] {
        width: 332px;
    }

    .loginForm input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 400px) {
    fieldset {
        flex-direction: column;
    }

    .loginForm {
        max-width: 350px;
    }

    .loginForm input[type="text"] {
        width: 100%;
    }

    .loginForm input[type="email"] {
        width: 100%;
    }
}