a {
    color: blue;
}

.highlight {
    color: #00b7ff;
    font-size: 18px;
}

#special-content {
    background-color: #ffd500;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#first-item {
    color: #34ae7d;
}

#third-item {
    color: red;
    font-style: italic;
}

.softuni {
    color: #ffd500;
}

.class1 {
    color: blue;
}

.class2 {
    font-weight: bold;
}

.class3 {
    font-size: 15px;
}