section {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}

section p {
    border: 1px solid #ccc;
    padding: 1em;
}

.block p {
    display: block;
}

.inline p {
    display: inline;
}

.inline-block p {
    display: inline-block;
}
