* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EEE;
}

.container {
    margin-top: 30px;
}

.columns {
    width: 80%;
    margin: 0 auto;
    background: #FFF;
    padding: 30px 60px;
    box-shadow: #26262633 0px 0px 30px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.columns > header,
.columns > footer {
    flex: 0 0 100%;
    text-align: center;
}

.columns article {
    flex: 0 0 calc( ( 100% / 3 ) - ( 2 * 20px ) );
}

.columns > header h2 {
    font-weight: 600;
    margin-bottom: 10px;
}

.columns > header p {
    font-style: italic;
    opacity: 0.7;
}

.columns > footer p {
    opacity: 0.7;
}

span {
    font-style: italic;
}

header:after,
footer:before {
    display: block;
    content: '';
    width: 80px;
    height: 2px;
    background: #EEE;
    margin: 30px auto 0 auto;
}

footer:before {
    margin: 0px auto 30px auto;
}