body {
    background: #EEE;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-left: 30px;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: #EEE;
}

td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.first-table {
    max-width: 1200px;
    margin: 30px auto;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: gray 0 0px 8px;
    overflow: hidden;
}

.second-table {
    max-width: 1200px;
    margin: 30px auto;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: gray 0 0px 8px;
    overflow: hidden;
}

@media (max-width: 800px) {
    .first-table {
        max-width: 700px;
    }

    .second-table {
        max-width: 700px;
    }
}