h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
  
.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
}
  
.circle {
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.5s;
}

.circle:hover {
    background-color: gray;
}
  
i {
    font-size: 25px;
    color: black;
}  