div {
    margin-bottom: 20px;
}

.fixed-height {
    height: 200px;
    border: 2px solid black;
}

.percentage-height {
    height: 50%;
    border: 2px solid black;
}

.viewport-height {
    height: 50vh;
    border: 2px solid black;
}

.min-max-height {
    min-height: 100px;
    max-height: 300px;
    border: 2px solid black;
}
