.flex-container {
    display: flex;
    width: 400px;
    height: 200px;
    padding: 1em;
    border: 3px solid blue;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

.direction-row {
    flex-direction: row;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}