div {
    border: 2px solid #000;
    margin-bottom: 20px;
}

.font-family {
    font-family: Arial, sans-serif;
}

.font-size {
    font-size: 24px;
}

.font-weight {
    font-weight: bold;
}

.font-style {
    font-style: italic;
}

.font-variant {
    font-variant: small-caps;
}
