a {
    color: blue;
    text-decoration: none;
}

.angle-bracket {
    color: #c50202;
    font-weight: bold;
}

.first-item {
    font-weight: bold;
}

.third-item {
    font-style: italic;
}

#description {
    background-color: #86c7e4;
}

footer img {
    margin: 0 auto;
    max-width: 100px;
    border: 5px solid red;   
}
