body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 40vw;
    margin: 60px auto;
}

.box div {
    border: 1px dashed #515151;
    margin: 30px;
    position: relative;
}

.absolute {
    position: absolute;
    left: 10px;
    top: 0px;
    margin: 0;
    font-size: 14px;
}

.box .margin {
    background: #f89670;
}

.box .border {
    background: #fde8c7;
}

.box .padding {
    background: #85eb85;
}

.box .content {
    background: #a3d3e2;
    text-align: center;
    text-transform: capitalize;
}