.flex-container {
    display: flex;
    width: 400px;
    height: 200px;
    padding: 1em;
    border: 3px solid blue;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    height: 20px;
    background: #eee;
}

.direction-row {
    flex-direction: row;
}

.align-self-flex-start .flex-item:nth-child(2) {
    align-self: flex-start;
}

.align-self-center .flex-item:nth-child(2) {
    align-self: center;
}

.align-self-flex-end .flex-item:nth-child(2) {
    align-self: flex-end;
}

.align-self-baseline .flex-item:nth-child(2) {
    align-self: baseline;
}