* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: #EEE;
    font-family: 'Lato', sans-serif;
}

.site {
    max-width: 1200px;
    margin: 30px auto;
    background: #FFF;
    border-radius: 5px;
    box-shadow: gray 0 0px 8px;
    overflow: hidden;
}

.site > header h1{
    color: rgb(2, 158, 2);
    padding: 20px;
    background-color: #f8f8f8;
}

.menu {
    background: #444;
    color: #DDD;
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
    flex: 1 0 auto;
}

.menu li a {
    padding: 20px 10px;
    display: block;
}

.site-content {
    padding: 20px;
    display: flex;
    gap: 30px;
}

.site-content main,
.site-content aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.site footer {
    background: #444;
    color: #FFF;
}

.site footer p {
    text-align: center;
    padding: 15px;
}

@media (max-width: 1000px) {
    .site {
        max-width: 950px;
    }
}

@media (max-width: 600px) {
    .site {
        max-width: 550px;
    }

    .menu ul {
        flex-wrap: wrap;
    }

    .menu li {
        flex: 0 0 100%;
    }

    .menu li a {
        text-align: center;
        border-bottom: 1px solid grey;
    }
}