div {
    font: 1em sans-serif;
}

p {
    color: blue;
}

p ~ span {
    font-weight: bold;
}

span {
    color: red;
}

ul {
    list-style-type: circle;
}

#special-paragraph {
    background-color: lightgray;
}