body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif
}

p {
    padding-bottom: 1.5em;
}

body::before {
    background-color: #369;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

@media (hover: none) {
    body::before {
        display: block;
        content: 'The device does NOT support hover';
    }
} 

@media (hover: hover) {
    body::before {
        display: block;
        content: 'The device does support hover';
    }
}       