.flex-container {
    display: flex;
    width: 400px;
    padding: 1em;
    border: 3px solid blue;
    align-items: flex-start;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

.direction-row {
    flex-direction: row;
}

.custom-order .flex-item:nth-child(1) {
    order: 5;
}

.custom-order .flex-item:nth-child(2) {
    order: 3;
}

.custom-order .flex-item:nth-child(3) {
    order: 1;
}

.custom-order .flex-item:nth-child(4) {
    order: 6;
}

.custom-order .flex-item:nth-child(5) {
    order: 2;
}

.custom-order .flex-item:nth-child(6) {
    order: 4;
}