div {
    margin-bottom: 1em;
}

.uniform-padding {
    padding: 20px;
    border: 2px solid black;
}

.non-uniform-padding {
    padding: 10px 30px 20px 40px;
    border: 2px solid black;
}

.percentage-padding {
    padding: 5%;
    border: 2px solid black;
}
