body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif
}

p {
    padding-bottom: 1.5em;
}

body::before {
    background-color: #369;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        padding: 2em;
        font: 14px/1.5 Lato, sans-serif;
    }    
    
    p {
        padding-bottom: 1.5em;
    }
}

@media print {
    body::before {
        display: block;
        content: 'The page is using a print preview or it was printed';
    }
}

@media screen {
    body::before {
        display: block;
        content: 'The page is being shown on a screen';
    }
}
