/* Type selectors */
h1 {
    color: #5bc04e;
}

p {
    font-size: 18px;
}

/* Class selectors */
.highlight {
    background-color: #a878f5;
}

/* ID selectors */
#main-title {
    color: #fd6d6d;
}

#special-highlight {
    font-style: italic;
}

/* List styling */
ul {
    list-style-type: square;
}

li {
    color: #86f9ff;
}

/* Div styling */
div {
    background-color: #813c9e;
}